# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
reports/*.json
reports/predictions/
reports/training/
*.pt
*.pth
*.onnx

# Env / secrets
.env
configs/*.key
configs/secrets.yaml

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
